.button-cancel {
    background-color: #ff0000;
    margin: 1rem;
}
.button-save {
    background-color: #73C650;
    margin: 1rem;
}
.button-print {
    background-color: #7f98ed;
    margin: 1rem;
}